<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css" />
  <title>Vue Todo</title>
</head>

<body>
  <div id = "app">
  <h1>A List of Things to Do</h1>
  <form v-on:submit.prevent="addItem">
    <input type = "text" v-model = "message"/>
    <button type = "submit">Add</button>

  </form>
    <ul>
      <li v-for="item in todos">
        <input type="checkbox" v-model="item.completed"/>
        <label v-bind:class="{completed: item.completed}">{{ item.text }}</label>
        <button v-on:click="deleteItem(item)" class="delete">X</button>
      </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/script.js"></script>
</body>

</html>